TWENTY_BASE_URL=https://crm.icen.es
TWENTY_API_KEY=

HOLDED_BASE_URL=https://api.holded.com
HOLDED_API_KEY=

ICEN_EMAIL_WEBHOOK_URL=
ICEN_ACCOUNTING_WEBHOOK_URL=
ICEN_ACCOUNTING_EMAIL=contabilidad@icen.es
ICEN_EMAIL_FROM="ICEN Empresas <info@icen.es>"

ICEN_B2B_BASIC_USER=
ICEN_B2B_BASIC_PASSWORD=

ICEN_PAYMENT_MONITOR_TOKEN=
